#*
*$
*.BAK
*.Z
*.bak
*.elc
*.ln
*.log
*.o
*.obj
*.olb
*.old
*.orig
*.rej
*/.git/*
*~
,*
.#*
.DS_Store
.del-*
.make.state
.nse_depinfo
CVS.adm
RCS
RCSLOG
SCCS
_$*
cucumber.html
/junit
/cucumber_failing.html
/cuucmber.json
/cucucumber.html
/cucumber.json
/cucumber.txt
/screenshots
/cucumber_rerun.html
/rerun.txt
/jenkins_job_creator.rb
/nohup.out
/junit.xml
